*{
  margin: 0;
  padding: 0;
}
.container{
  width: 90%;
  margin: 0 auto;
}
#home{
  padding: 30px 0;
  flex-wrap: wrap;
  .home{
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    &--card{
      margin: 20px;
      border: 10px solid red;
      background: red;
      border-radius: 10px;

    }
    &-titles{
      padding: 10px 0;
      text-align: center;
      h2{
        font-weight: 900;
        font-size: 19px;
        text-align: center;
      }
    }
  }
}

#page{
  padding:4.3% 0;
  .page{
    display: flex;
    align-items: start;
    img {
      border-radius: 20px;
      -webkit-box-shadow: 3px 9px 74px 5px rgb(54, 66, 143);
      -moz-box-shadow: 3px 9px 74px 5px rgb(57, 91, 210);
      box-shadow: 3px 9px 74px 5px rgb(32, 47, 145);
    }
    &-tile{
      padding: 20px 0;
      margin-left: 5rem;
      h2{
        font-weight: 700;
        font-size: 20px;
        padding: 10px 0;
        color: #ffffff;
      }
      h3{
        font-weight: 700;
        font-size: 20px;
        padding: 10px 0;
        color: #ffffff;
      }
      p{
        font-weight: 700;
        font-size: 20px;
        padding: 10px 0;
        color:#fff
      }
      :hover h1 ,h2, p , h3{
        box-shadow: 0 0 5px #130202 , 0 0 50px;
        background: rgba(40 , 44 , 52 , 0.34);
      }
    }
    &--too{
      width: 60px;
      height: 60px;
      font-size: 24px;
      align-items: center;
      justify-content: center;
      display: flex;
      color: white;
      background: #000;
      border: 2px solid #7CBA72;
      border-radius: 50%;
    }
    &-icon{
      display: flex;
      margin-left: 20px;
      align-items: center;
    }
    &--foo{
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: start;
    }
    &--icons{
      margin: 13px;
      background: rgba( 10 , 10 ,10 ,0.7);
      border: 2px solid black;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 10px;
      color: #cc0f0f;

    }
  }
}
#card{
  padding: 40px 0;
  .card{
    display: flex;
    align-items: start;
    img{
      border-radius: 10px;
      border: 3px solid red;
    }
    &--title{
      font-size: 18px;
      font-weight: 500;
      padding: 15px 0;
      margin-left: 5em;
      span{
        font-weight: 700;
        font-size: 20px;
        color: red;
      }
      h2{
        padding: 10px 0;
        font-weight: 600;
        font-size: 18px;
      }
      p{
        font-weight: 600;
        font-size: 19px;
      }
      h4{
        font-weight: 600;
        font-size: 18px;
      }

    }
  }
}